.SimilarJobItemHeader {
    display: flex;
    flex-direction: row;
}

.companyLogo {
    size: cover;
        height: 96px;
        width: 96px;
        padding: 16px;
        padding-left: 0px;
}

.similarJobItemContainer {
    background-color: #202020;
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
    margin-left: 0px;
    margin-right: 32px;
}

.location {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    margin-left: 0px;
    
}

.empltype {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    margin-left: 0px;
    
}