.JobsPageContainer{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    background-color: black;
    color:white;
}

.Leftview{
    padding: 16px;
}

.Rightview{
    padding: 16px;
}

.hrl {
    margin-top: 16px;
    margin-bottom: 16px;
}