.companyDetails{
    display: flex;
    flex-direction: row;
    
    
}

.JobDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eachLabel {
    margin-left: 0px;
    margin-right: 24px;
}

.eachJobItemStyle {
    text-decoration: none;
    background-color: black;
    color: white;
}

.companyLogo { 
    size: cover;
    height: 96px;
    width: 96px;
    padding:16px;
    padding-left: 0px;
}

.eachJobItem {
    background-color: #202020;
    border-radius: 16px;
    padding: 24px;
    margin: 16px;
}